<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-8 mx-auto my-3">
      <div class="col-lg-3 text-center ">
        <h2 class="bg-secondary text-white rounded">さんの会員詳細</h2>
      </div>
    </div>
  </div>
</div>