<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-8 mx-auto my-3">

      <div class="col-lg-3 text-center ">
        <h2 class="bg-secondary text-white rounded">さんの会員詳細</h2>
      </div>

      <div>
        <li>会員ID</li>
        <li>氏名</li>
        <li>フリガナ</li>
        <li>郵便番号</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </div>

    </div>
  </div>
</div>