<div class="container">
  <p>
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧は出来ますが、</br>
    購入には会員登録が必要になります。
  </p>

  <!--新着商品を４つ-->
  <h2>新着商品</h2>
  <%= @items.last(4).each do |item| %>
    <%= item.name %>
    ¥<%= item.price.to_s(:delimited) %>
  <% end %>


</div>