<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <h2 class="bg-secondary rounded text-white">管理者ログイン</h2>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= form_with model: @owner, url: owner_session_path do |f| %>
    <div class="field mb-3">
      メールアドレス
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field mb-3">
      パスワード
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "ログイン",class: 'bg-primary text-white rounded px-5' %>
    </div>
  <% end %>


  </div>
</nav>